<footer style="text-align: center" class="mt-5">
      	<hr>
        <p>
      	&copy; 2018 Pedro Guilherme Neri
	    &middot;
      	<a target="_blank" href="https://github.com/pedrogneri"> GitHub</a>
      	&middot; 
        <a target="_blank" href="https://www.linkedin.com/in/pedrogneri/"> Likedin</a>
        &middot; 
        <a target="_blank" href="https://www.hackerrank.com/pedrogneri"> HackerRank</a>
      	</p>
</footer>