<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Node.js Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="home" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
     
      {{#if user}}
        {{#if ehAdmin}}
          <li class="nav-item">
            <a class="nav-link" id="admCategorias" href="/admin/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="admPost" href="/admin/postagens">Postagens</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" id="categorias" href="/categorias">Categorias</a>
          </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/logout">Sair</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" id="login" href="/usuarios/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="registro" href="/usuarios/registro">Registro</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>