<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p align="justify">{{postagem.conteudo}}</p>
    </div>
</div>
